extends layout

block styles
    link(rel='stylesheet', href='/stylesheets/joint.min.css')

block scripts
    script(src='/javascripts/lodash.min.js')
    script(src='/javascripts/backbone-min.js')
    script(src='/javascripts/joint.min.js')
    script(src='/javascripts/app.js')
    script(src='/javascripts/editor.js')

block content
  nav.navbar.navbar-fixed-top.navbar-inverse(role="navigation")
    .container-fluid
    .navbar-header
      span.navbar-brand Edit DAI Interface Config
      ul.nav.navbar-nav
        li.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false') Select Instance...
            span.caret
          ul.dropdown-menu#instances(role='menu')
            li: a.disabled(href='#') Loading...
        li.dropdown.disabled
          a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false') Select Interface...
            span.caret
          ul.dropdown-menu#interfaces(role='menu')
            li: a.disabled(href='#') Loading...
  .container-fluid
    .row.row-offcanvas.row-offcanvas-left
      .col-xs-6.col-sm-3.col-md-3#sidebar
        #toolbox.panel-group
      .col-xs-12.col-sm-9
        #editor